.linksAcc {
  color: white;
  padding: 0 50px 5px 50px !important;
  margin-bottom: 0 !important;
}

.cardGroc {
  display: inline-block;
  width: auto;
  height: 100%;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px #999;
}

.rowGroc {
  width: 85px;
  height: 30px;
  border: 1px solid rgba(0, 102, 249, 1);
  border-radius: 2px;
  margin-left: 2px;
  margin-top: 11px;
  margin-right: 0px;
}
